<div class="nav-create-manage">
    <h4 id="nav-list"><a href="/spots/create" class="create-manage-text">Create spot</a> <span
            class="create-manage-text">|</span> <a href="/spots/manage" class="create-manage-text">Manage spot</a>
    </h4>
</div>