<nav>

    {{#if isLoggedIn}}
    <div class="nav-create-manage">
        <h4 id="nav-list"><a href="/spots/create" class="create-manage-text">Create spot</a> <span
                class="create-manage-text">|</span> <a href="/spots/manage" class="create-manage-text">Manage
                spot</a>
        </h4>
    </div>
    <div class="nav-bar-in">
        <ul id="nav-list">
            <li><a class="nav-item" href="/">Home</a></li>
            <li><a class="nav-item" href="/about">About</a></li>
            <li><a class="nav-item" href="/blog">Blog</a></li>
      {{!-- <li><a href="/blog" class="nav-item">Favorites</a></li> --}}
        </ul>
        <ul class="sign-up-in">
            <li><a class="nav-link" href="/auth/logout">Log out</a></li>
        </ul>
    </div>
    {{else}}
    <div class="nav-bar">
        <ul id="nav-list">
            <li><a class="nav-item" href="/">Home</a></li>
            <li><a class="nav-item" href="/about">About</a></li>
            <li><a class="nav-item" href="/blog">Blog</a></li>
      {{!-- <li><a href="/blog" class="nav-item">Favorites</a></li> --}}
        </ul>
        <ul class="sign-up-in">
            <li><a class="nav-link" href="/auth/signin">Sign in</a></li>
            <li><a class="nav-link" href="/auth/signup">Sign up</a></li>
        </ul>
    </div>
    {{/if}}
</nav>