<nav>
    <div class="nav-bar">
        {{!-- {{! main bar}} --}}

        <ul id="nav-list">
            <li><a href="/" class="nav-item">Home</a></li>
            <li><a href="/about" class="nav-item">About</a></li>
            <li><a href="/blog" class="nav-item">Blog</a></li>
            {{!--  {{#if isLoggedIn}}--}}
            <li><a href="/blog" class="nav-item">Favorites</a></li>
            {{!--  {{/if}}--}}
            {{>navAdmin}}
        </ul>


        <ul class="sign-up-in">
            {{!-- {{! login bar}} --}}
            {{#if isLoggedIn}}
            <li>{{username}}</li>
            <li><a class="nav-link" href="/logout" style="padding-right: 25px;">Log out</a></li>
            {{else}}
            <li><a class="nav-link" href="/auth/signin" style="padding-right: 25px;">Sign in</a></li>
            {{/if}}
        </ul>

    </div>
</nav>