<section class="menu-header">

    <div class="left-side">
    
    </div>

    {{! main bar}}
    <div class="main-menu">
        <ul id="horizontal-list">
        <li>Home</li>
        <li>Blog</li>
        <li>About</li>
        <li>Favorites</li>
    </ul>
</div>

    {{! login bar}}
    {{!-- <div class="sign-up-in">
        <ul id="horizontal-list">
        <li>Sign in | </li>
        <li>Sing up</li>
        <li>Log out</li>
    </ul>--}}
    <div class="sign-up-in">
        <ul id="horizontal-list">
    {{#if isLoggedIn}}
    {{!-- <li><a href="/aut/profile">Profile</a></li> --}}
    <li><a href="/auth/logout">Log out</a></li>
    {{else}}
    <li><a href="/auth/signin">Sign in</a></li>
    <li><a href="/auth/signup">Sign up</a></li>
    {{/if}}
    </ul>
</div>
</section>