<nav>
    <div class="nav-bar">
        {{!-- {{! main bar}} --}}
        {{>navAdmin}}
        <ul id="nav-list">
            <li><a class="nav-item" href="/">Home</a></li>
            <li><a class="nav-item" href="/about">About</a></li>
            <li><a class="nav-item" href="/blog" >Blog</a></li>
            {{!--  {{#if isLoggedIn}}--}}
            <li><a href="/blog" class="nav-item">Favorites</a></li>
            {{!--  {{/if}}--}}

        </ul>


        <ul class="sign-up-in">
            {{!-- {{! login bar}} --}}
            {{#if isLoggedIn}}
            <li>{{username}}</li>
            <li><a class="nav-link" href="/logout" style="padding-right: 25px;">Log out</a></li>
            {{else}}
            <li><a class="nav-link" href="/auth/signin" style="padding-right: 25px;">Sign in</a></li>
            <li><a class="nav-link" href="/auth/signup" style="padding-right: 25px;">Sign up</a></li>
            {{/if}}
        </ul>

    </div>
</nav>