<nav>
    {{#if isLoggedIn}}

    <div class="nav-bar-in">
      
        <ul id="nav-list">
            <li><a class="nav-item" href="/">Home</a></li>
            <li><a class="nav-item" href="/about">About</a></li>
            <li><a class="nav-item" href="/blog">Blog</a></li>
        </ul>
        <ul class="sign-up-in">
            <li><a href="userEdit">{{user.username}}</a></li>
            {{!-- <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{user.username}}</a></li> --}}
            <li><a class="nav-link" href="/auth/logout">Log out</a></li>
        </ul>
    </div>
    <div class="nav-create-manage">
        <h4 id="nav-list"><a href="/spots/create" class="create-manage-text">Create spot</a> <span
                class="create-manage-text">|</span> <a href="/spots/manage" class="create-manage-text">Manage
                spot</a>
        </h4>
    </div>
    {{else}}
    <div class="nav-bar">
        <ul id="nav-list">
            <li><a class="nav-item" href="/">Home</a></li>
            <li><a class="nav-item" href="/about">About</a></li>
            <li><a class="nav-item" href="/blog">Blog</a></li>
        </ul>
        <ul class="sign-up-in">
            <li><a class="nav-link" href="/auth/signin">Sign in</a></li>
            <li><a class="nav-link" href="/auth/signup">Sign up</a></li>
        </ul>
    </div>
    <div>
    <a href="javascript:void(0);" class="mobile-icon" onclick="myFunction()">
            <!--<i class="fa fa-bars"></i>-->
            <img src="/images/mobile-menu-icon.png" style="background-color: rgba(201, 76, 76, 0);">
        </a>
        </div>
    {{/if}}
</nav>
  <div id="myLinks" class="mobile-menu">
    <div class="mobile-menu-item"><a href="/">Home</a></div>
    <div class="mobile-menu-item"><a href="/about">About</a></div>
    <div class="mobile-menu-item"><a href="/blog">Blog</a></div>
    <div class="mobile-menu-item"><a href="/auth/signin">Sign in</a></div>
    <div class="mobile-menu-item"><a href="/auth/signup">Sign up</a></div>
  </div>
<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}


//////////// STICKY NAVBAR /////////
// Get the navbar
var navbar = document.getElementsByClassName("nav-bar")[0];
var navbarin = document.getElementsByClassName("nav-bar-in")[0]
// Get the offset position of the navbar

var sticky = (navbar ? navbar.offsetTop : navbarin.offsetTop); // ternaire en Javascript: si navbar existe alore sticky prend la valeur de navbar.offsetTop sinon sticky prend la valeur de navbarin.offsetTop

// When the user scrolls the page, execute this function
window.onscroll = applySticky


function applySticky (){
  if(navbar){
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }else{
    let navcreatemanage = document.getElementsByClassName("nav-create-manage")[0]
    let stickyCreateManage = navcreatemanage.offsetTop;
      
    // the same for navbarin
    if(window.pageYOffset >= sticky){
      navbarin.classList.add("sticky")
      navcreatemanage.classList.add("sticky-manage")
    }else{
      navbarin.classList.remove("sticky")
      navcreatemanage.classList.remove("sticky-manage")

    }


  }
}



</script>
