<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwayBDtUp9H89-LbFDO1RlXOeBKaRRZEk">
</script>

<link rel="stylesheet" href="/public/stylesheets/style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

{{#each scripts}}
<script type="module" src="/scripts/{{this}}"></script>
{{/each}}

<title>ClimbSpot.</title>