<div>
    <header class="about-image">
    </header>


    <section>
        <div>
            <h3 class="about-text">Climbspot is an innovative geographical locating website for rock climbers with a particular passion for unusual climbing spots in the French wilderness. It informs you on great hills and moutains where you can proove yourself and your rock climbing capabilities to others - and most of all share them with others. Find out about more great spots, and let other rock climbers know about some fabulous ones you yourself have discovered and experienced!
            </h3>
        </div>
        <h1 class="chapter-title">Who we are...<br /><br /></h1>
        <div>
            <div class="about-founder"><img src="../images/teddy.jpg" width="200" class="founder-image">
                <h4 class="founder-text"><strong>Teddy</strong> is a video music designer who's always enjoyed both the city life and country side adventures. He's worked as both a mechanic and an outward bounder. His dream is to be connected to both digital technology, and long fruitfull weekend journeys in the hills with his wife and two children.</h4>
            </div>
            <div class="about-founder"><img src="../images/hakim.jpg" width="200" class="founder-image">
                <h4 class="founder-text"><strong>Hakim</strong> is an senior expert electrician and great family man with two lovely daughters. He's also had a passion for rock climbing and long mountain hikings. His goal is to share this passion with others who feel they need to escape the city and breathe the fresh air of Mother Nature.</h4>
            </div>
            <div class="about-founder"><img src="../images/olivier.jpg" width="200" class="founder-image">
                <h4 class="founder-text"><strong>Olivier</strong> is a web project leader with great team-leading spirit who also enjoys the outdoors as much as web development technology. He meets with a lot of people to share new ideas of web projects that lead to successful startups. He likes sports, hiking, barbacues and parties with friends.</h4>
            </div>
            <div class="about-founder"><img src="../images/benjamin.jpg" width="200" class="founder-image">
                <h4 class="founder-text"><strong>Benjamin</strong> is a plastic artist who went from fine arts to graphic arts, then from graphic arts to UI design, then to web design and webmastering. He is now learning how to code. He's enjoyed a lot of country side hikes in his life, and wants to connect to both worlds at the same time.</h4>
            </div>
        </div>

        <div class="message-form">
            <h1>Contact us!</h1>
            </br>
            <form class="contactus"
                action="mailto:benjamin_h_dean@yahoo.com,teddy.rogers.pro@outlook.com,capzebib2@yahoo.fr,olivier.a.brule@gmail.com"
                method="post" enctype="text/plain">
                Your name:<br>
                <input class="contactus-input" type="text" name="name"><br>
                Your e-mail:<br>
                <input class="contactus-input" type="text" name="mail"><br>
                Your message:<br>
                <textarea class="contactus-area" placeholder="Your message"></textarea>
                <!--<input class="input" type="text-area" name="message" size="40">!-->
                <br><br>
                <input type="submit" value="Send" class="search-box">
            </form>
        </div>

    </section>