<div>
    <header class="about-image">
    </header>


    <section>
        <div>
            <h3 class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.
            </h3>
        </div>
        <h1 class="chapter-title">Who we are...<br /><br /></h1>
        <div>
            <div class="about-founder"><img src="../images/teddy.jpg" width="200" class="founder-image">
                <h4 class="founder-text"><strong>Teddy</strong> is an actor whose career spanned 62 years on stage,
                    film, and television. During his career, he played leading roles as well as supporting roles,
                    garnering acclaim and awards, including an Oscar nomination for Best Supporting Actor.</h4>
            </div>
            <div class="about-founder"><img src="../images/hakim.jpg" width="200" class="founder-image">
                <h4 class="founder-text"><strong>Hakim</strong> is a politician, writer, and former journalist, who has
                    served as Prime Minister of the United Kingdom and Leader of the Conservative Party since 2019. He
                    was Foreign Secretary from 2016 to 2018 and Mayor of London from 2008 to 2016.</h4>
            </div>
            <div class="about-founder"><img src="../images/olivier.jpg" width="200" class="founder-image">
                <h4 class="founder-text"><strong>Olivier</strong> is an investigative journalist. He has worked for The
                    Washington Post since 1971 as a reporter, and is currently an associate editor. He has since written
                    19 books on American politics and investigative journalism.</h4>
            </div>
            <div class="about-founder"><img src="../images/benjamin.jpg" width="200" class="founder-image">
                <h4 class="founder-text"><strong>Benjamin</strong> is a comic performer who employs slapstick or similar
                    types of physical comedy, often in a mime style. He regularly develops characters such as tramps or
                    hobos.</h4>
            </div>
        </div>

        <div class="message-form">
            <h1>Contact us!</h1>
            </br>
            <form class="contactus" action="mailto:benjamin_h_dean@yahoo.com" method="post" enctype="text/plain">
                Your name:<br>
                <input class="contactus-input" type="text" name="name"><br>
                Your e-mail:<br>
                <input class="contactus-input" type="text" name="mail"><br>
                Your message:<br>
                <textarea class="contactus-area" placeholder="Your message"></textarea>
                <!--<input class="input" type="text-area" name="message" size="40"><br><br>
                <input type="submit" value="Send" class="search-box">!-->
            </form>
        </div>

    </section>