<div class="index-body">{{! with title and background image }}
    <header class="about-image">
    </header>


    <section>
        <div>
      this is an article
        </div>

        <div class="message-form">
            <h1>Contact us!</h1>
            </br>
            <form action="mailto:benjamin_h_dean@yahoo.com" method="post" enctype="text/plain">
                Your name:<br>
                <input type="text" name="name"><br>
                Your e-mail:<br>
                <input type="text" name="mail"><br>
                Your message:<br>
                <input class="input-form" type="text" name="message" size="40"><br><br>
                <input type="submit" value="Send" class="search-box">
            </form>
        </div>
        <br>

    </section>
