<div class="index-body">{{! with title and background image }}
    <header class="about-image">
    </header>


    <section>

<h1 class="chapter-title">Our blog...<br/><br/></h1>


           


        <div class="article-box">
            {{#each articles}}
            <h1>{{this.title}}</h1>
            <h4>{{this.text}}</h4>
            <img src="{{this.image}}" style="width: 75%;"></p>
            {{/each}}
        </div>

{{!--    <div class="message-form">
            <h1>Contact us!</h1>
            </br>
            <form action="mailto:benjamin_h_dean@yahoo.com" method="post" enctype="text/plain">
                Your name:<br>
                <input type="text" name="name"><br>
                Your e-mail:<br>
                <input type="text" name="mail"><br>
                Your message:<br>
                <input class="input-form" type="text" name="message" size="40"><br><br>
                <input type="submit" value="Send" class="search-box">
            </form>
        </div> --}}       

    </section>
