{{! with title and background image }}
<header>
    <h1>ClimbSpot</h1>
    <div></div> {{! <-- background here }}
</header>


{{! search - most viewed - random }}
<section>
    <h3>Find yours</h3> <img src="" alt="magnifying glass">
    <h5>most viewed |</h5>
    <h5> random</h5>

    <div>
        {{! most viewd grid }}
    </div>

    <div>
        {{! random grid }}
    </div>

</section>


{{! google map API }}
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAwayBDtUp9H89-LbFDO1RlXOeBKaRRZEk
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>


{{! Sign in }}
<section>
    <div>
        <h3><a href="/signin">Sign in</a> </h3>
        <form action="" method="post">
            <input type="text">
            <input type="text">
            <buton>Submit</buton>
        </form>
    </div>
</section>


{{! Sign up }}
<section>
    <div>
        <h3><a href="/signup">Sign up</a> </h3>
        <form action="" method="post">
            <input type="text">
            <input type="text">
            <buton>Submit</buton>
        </form>
    </div>
</section>


{{! result }}
<section>
    <div>
        <h3></h3>
        <p></p>
    </div>

    {{! google map here }}

    <div>
        {{! comment here }}
        <h4></h4> {{! pseudo }}
        <p></p> {{! comment }}
    </div>

</section>