<div class="index-body">
    <div>
        <header class="home-image">
            <div><a href="/"><h1 class="home-logo">ClimbSpot.</h1></a></div>
        </header>

        <section>
            <div class="top-space"></div>
            <form class="form" id="search_bar" method='GET' action="/">
                <div class="search-box">
                    <input id="search_query" type="text" class="input-search" value="" placeholder="Find your spot..."
                        name="search">
                    <button style="background-color: rgb(0, 0, 0, 0); padding: 3px; border: none; color: white; font-size: 1em;"><i class="fa fa-search"></i></button>
                </div>
            </form>

            <div class="list-result">
                {{#each spotresult}}
                <p class="home-result"><a href="/result/{{this._id}}">{{this.name}}</a></p>
                {{/each}}
            </div>

            <div class="selection-grid">

                <h3 style="margin-top: 5px;">voici notre selection...</h3>

                <div class="selection-box">
                    <h4>Label<h4>
                            <h5>latitude: 44.65345<br />longitude: 5.171185</h5>
                </div>

                <div class="selection-box">
                    <h4>La Graville<h4>
                            <h5>latitude: 44.648761<br />longitude: 5.078759</h5>
                </div>

                <div class="selection-box">
                    <h4>Le mur des étoiles<h4>
                            <h5>latitude: 44.652589<br />longitude: 5.066158</h5>
                </div>

            </div>

    </div>

    <div>
    </div>

    </section>

    <style>
        #map {
            height: 400px;
            width: 70%;
            border-radius: 0px 0px 12px 12px;
            box-shadow: 1px 6px 11px gray;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 150px;
        }

        @media only screen and (min-width: 320px) and (max-width: 768px) {
            #map {
                height: 400px;
                width: 90%;
                border-radius: 0px 0px 12px 12px;
                box-shadow: 1px 6px 11px gray;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 150px;
            }
        }
    </style>
    <div id="map"></div>
    <div><br /></div>

    </section>

</div>
</div>