{{! with title and background image }}
<header>
    
    <div class="home-image"> 
     <h1 class="home-logo">ClimbSpot.</h1>
    </div> {{! <-- background here }}
</header>


{{! search - most viewed - random }}
<section>
    <hr>
    <form class="form" id="search_bar" method='GET' action="/">
        <div class="row">
            <input id="search_query" type="text" class="input" value="" placeholder="Find yours.." name="search">
            <button class="btn">Search
                <i id="btn_search" class="is-clickable fas fa-search"></i>
            </button>
        </div>
    </form>
    <hr>

    <div> {{! search result }}
        {{#each spotresult}}
        <a href="/result/{{this._id}}">{{this.name}}</a>
        {{/each}}
    </div>


    <h5>most viewed |</h5>
    <h5> random</h5>

    <div>
        {{! most viewd grid }}
    </div>

    <div>
        {{! random grid }}
    </div>

</section>




{{! Google map }}
<style>
    #map {
        height: 400px;
        width: 70%;
        border-radius: 12px;
        box-shadow: 1px 4px 11px gray;
    }
</style>
<div id="map"></div> {{! <-- google map just here / don't ask how or why... }}


{{! Sign in }}
<section>
    <div>
        <h3><a href="/auth/signin">Sign in</a> </h3>
        <form action="" method="post">
            <input type="text">
            <input type="text">
            <buton>Submit</buton>
        </form>
    </div>
</section>


{{! Sign up }}
<section>
    <div>
        <h3><a href="/auth/signup">Sign up</a> </h3>
        <form action="" method="post">
            <input type="text">
            <input type="text">
            <buton>Submit</buton>
        </form>
    </div>
</section>


<div>
    {{! comment here }}
    <h4></h4> {{! pseudo }}
    <p></p> {{! comment }}
</div>

</section>