<!DOCTYPE html>
<html lang="en">


<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/base.css">
  {{>site_head}}
</head>

<body>

  {{!-- A rajouter ci-dessous --}}
  {{!-- {{#if isLoggedIn}} --}}
  {{!-- {{>navAdmin}} --}}
  {{!-- {{/if}} --}}
  {{>navBar}}
  {{{body}}}
</body>

</html>