<hr>
<form class="form" id="search_bar" method='GET' action="/testlist">
    <div class="row">
        <input id="search_query" type="text" class="input" value="" placeholder="search an artist here..."
            name="search">
        <button class="btn">Search
            <i id="btn_search" class="is-clickable fas fa-search"></i>
        </button>
    </div>
</form>
<hr>
<div id="search_results"></div>

{{#each spotlist}}
{{this.name}}
{{/each}}