@import "./navbar.css";
@import "./Sign-in-up.css";
@import "./result.css";
@import "./spot-comment.css";

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");

ul {
  list-style-type: none;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}