.create-card {
    background-color: white;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin-top: 20px;
    width: 80%;
    height: 460px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 20px 80px black;
}