@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


body {
  padding: 0px;
  margin: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat Alternates', sans-serif;
  width: 100%;
  margin: 0px;
  text-align: center;
}

.index-body {
  height: 80vh;
  background-image: url('../images/index-background.jpg');
  background-size: cover;
  background-position: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:active {
  font-weight: bold;
  text-decoration: underline;
}


.search-box {
  background: linear-gradient(#427A59, #035F87);
  border: 10px solid linear-gradient(#427A59, #035F87);;
  display: flex;
  justify-content: center;
  min-width: 100px;
  position: relative;
  width: 300px;
  display: inline-block;
  color: white;
  text-align: center;
  border-radius: 30px;
  -moz-box-shadow: 0px 5px 5px 0px #999;
  -webkit-box-shadow: 0px 5px 5px 0px #999;
  box-shadow: 0px 5px 5px 0px #999;
  margin: 35px 0px;
  padding: 15px;
}

.input {
  width: 240px;
  color: white;
  background-color: rgba(66, 122, 82, .0);
  outline: none;
  border: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.btn-search {
  background-image: url("/images/search_icon.png");
  background-size: 20px 20px;
  background-color: #246d6f;
  padding: 10px;
  outline: none;
  border: none;
  position: absolute;
  margin: O;
  bottom: 30%;
}

.home-result {
  text-decoration: underline;
  text-align: center;

}

.home-result {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: inline;
  border: 2px solid #737373;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  background-color: white;
}

.list-result {
  margin: 0px 0px 25px 0px;
}

.selection-grid {
  margin-top: 35px;
  height: 200px;
  width: 70%;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 1px 4px 11px gray;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #f0f2f5 74%);
  list: none;
  padding: 20px 0px 0px 0px;
}
.about-text {
  width: 80%; 
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  line-height: 26px;
}

.about-founder {
  padding: 10px; 
  width: 20%; 
  display: inline-block; 
  top: 0px; 
  vertical-align: top;
}

.message-form {
  background-color: #CCCCCC;
  margin-bottom: 50px;
}

.input-form {
  outline: red;
  box-sizing: border-box;
}

.about-image {
  background-image: url("/images/home-image.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  margin-top: -80px;
  box-shadow: inset 0px -25px 50px black;
}