/* BUTTON CLASSES */
.sbmt-btn {
        border-radius: 30px;
        outline: none;
        padding: 20%;
        margin: 30px;
        height: 33px;
        text-align: center;
}

.opt-btn {
        border-radius: 8px;
        outline: none;
        padding: 20%;
        margin: 9px;
        height: 33px;
        text-align: center;
}

/*-------------------------------------------------------------*/
/* FORM CLASSES */
.frm-input {
        border: none;
        outline: none;
        text-align: center;
        height: 33px;
        box-shadow: inset 0px 2px 3px grey;
        margin: 15px;
}

.txt-area {
        border: none;
        outline: none;
        width: 330px;
        height: 280px;
        box-shadow: inset 0px 2px 3px grey;
        padding: 6px;
        margin: 15px;
}

/*-------------------------------------------------------------*/
/* TEXT COLORS & SIZES CLASSES */
.txt-div {
        outline: none;
        border: none;
        padding: 10%;
        text-align: left;
}

.txt-black {
        color: rgb(49, 49, 49);
}

.txt-white {
        color: rgb(209, 209, 209);
}

.txt-green {
        color: rgb(24, 105, 71);
}

.txt-shdw {
        text-shadow: 1px 2px 7px rgb(34, 34, 34);
}

.font-big {
        font-size: 30px;
}

.font-medium {
        font-size: 15px;
        font-weight:bold
}

.font-small {
        font-size: 12px;
}

.font-micro {
        font-size: 9px;
        font-weight: lighter;
        text-decoration: none;
}


/*-------------------------------------------------------------*/
/* BORDER RADIUS CLASSES */
.brd-rds-big {
        border-radius: 15px;
}

.brd-rds-medium {
        border-radius: 9px;
}

.brd-rds-small {
        border-radius: 6px;
}
/*-------------------------------------------------------------*/
/* BACKGOUND COLORS & SHADOW EFFECTS CLASSES*/
.green-grdnt {
        background: linear-gradient(#427a59, #035f87);
        border: 10px solid linear-gradient(#427a59, #035f87);
}

.white-grdnt {
        background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(240, 240, 240) 90%);
        border: 10px solid linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(240, 240, 240) 90%);
}

.element-shdw {
        box-shadow: 0px 5px 5px 0px #999;
}

.element-shdw-strong {
        box-shadow: 0px 20px 80px black;
}


/*-------------------------------------------------------------*/
/* BACKGROUND IMAGE EFFECTS CLASSES */
.blur-bckgrnd {
        width: 100vw;
        height: 100vh;
        filter: blur(5px) grayscale(20%) brightness(120%);
}

.blur-bckgrnd-strong {
        width: 100vw;
        height: 100vh;
        filter: blur(85px) grayscale(55%) brightness(160%);
}