/* IMPORTS */
@import "./teddy-navbar.css";
@import "./teddy-home.css";
@import "./teddy-about.css";
@import "./teddy-blog.css";
@import "./teddy-connection.css";
@import "./teddy-admin.css";
@import "./teddy-result.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');

/*-------------------------------------------------------------*/
/* PRIMARY CLASSES */
body {
        padding: 0px;
        margin: 0px;
        width: 100%;
        font-family: "Montserrat Alternates", sans-serif;
        text-align: center;
      }

/*-------------------------------------------------------------*/
/* BUTTON CLASSES */
.sbmt-btn {
        border-radius: 30px;
        outline: none;
        padding: 20%;
        margin: 30px;
        height: 33px;
        text-align: center;
}

.opt-btn {
        border-radius: 8px;
        outline: none;
        padding: 20%;
        margin: 9px;
        height: 33px;
        text-align: center;
}

/*-------------------------------------------------------------*/
/* FORM CLASSES */
.frm-input {
        border: none;
        outline: none;
        text-align: center;
        height: 33px;
        box-shadow: inset 0px 2px 3px grey;
        margin: 15px;
}

.txt-area {
        border: none;
        outline: none;
        width: 330px;
        height: 280px;
        box-shadow: inset 0px 2px 3px grey;
        padding: 6px;
        margin: 15px;
}

/*-------------------------------------------------------------*/
/* TEXT COLORS & SIZES CLASSES */
.txt-div {
        outline: none;
        border: none;
        padding: 10%;
        text-align: left;
}

.txt-black {
        color: rgb(49, 49, 49);
}

.txt-white {
        color: rgb(209, 209, 209);
}

.txt-green {
        color: rgb(24, 105, 71);
}

.txt-shdw {
        text-shadow: 1px 2px 7px rgb(34, 34, 34);
}

.txt-deco {
        list-style-type: none;
        text-decoration: none;
}

.font-big {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 30px;
        font-weight: 500;
}

.font-medium {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 23px;
        font-weight: 400;
}

.font-small {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 300;
}

.font-micro {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 100;
}


/*-------------------------------------------------------------*/
/* BORDER RADIUS CLASSES */
.brd-rds-big {
        border-radius: 15px;
}

.brd-rds-medium {
        border-radius: 9px;
}

.brd-rds-small {
        border-radius: 6px;
}

/*-------------------------------------------------------------*/
/* BACKGOUND COLORS CLASSES*/
.green-grdnt {
        background: linear-gradient(#427a59, #035f87);
        border: 10px solid linear-gradient(#427a59, #035f87);
}

.white-grdnt {
        background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(240, 240, 240) 90%);
        border: 10px solid linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(240, 240, 240) 90%);
}

/*-------------------------------------------------------------*/
/* SHADOW EFFECTS CLASSES*/
.element-shdw {
        box-shadow: 0px 5px 5px 0px #999;
}

.element-shdw-strong {
        box-shadow: 0px 20px 80px black;
}


/*-------------------------------------------------------------*/
/* BACKGROUND IMAGE EFFECTS CLASSES */
.blur-bckgrnd {
        width: 100vw;
        height: 100vh;
        filter: blur(5px) grayscale(20%) brightness(120%);
}

.blur-bckgrnd-strong {
        width: 100vw;
        height: 100vh;
        filter: blur(85px) grayscale(55%) brightness(160%);
}

/*-------------------------------------------------------------*/
/* exemple of class... */

/* 
exemple of class for the button :
<button id="submit-button" class="sbmt-btn txt-white font-small green-grdnt element-shdw"> One Buuton </button>

*/