<div class="create-image">
    <div class="white-frame">
        <form class="form" action="/spots/create" method="POST">
            <h2 class="title">Create a spot</h2>
            <div class="form-group">
                <label class="label" for="name">Name</label>
                <input class="input" id="name" type="text" name="name" required="true">
            </div>
            <div class="form-group">
                <label class="label" for="ref">Ref</label>
                <input class="input" id="ref" type="text" name="ref" required="true">
            </div>
            <div class="form-group">
                <label class="label" for="address">Address</label>
                <input class="input" id="address" type="text" name="address" required="true">
            </div>
            <div class="form-group">
                <label class="label" for="latitude">Latitude</label>
                <input class="input" id="latitude" type="number" name="latitude" required="true">
            </div>
            <div class="form-group">
                <label class="label" for="longitude">Longitude</label>
                <input class="input" id="longitude" type="number" name="longitude" required="true">
            </div>
            <div class="form-group">
                <label class="label" for="image">Image</label>
                <input class="input" id="image" type="url" name="image"> </div>
            <div class="form-group">
                <label class="label" for="description">Description</label>
                <input class="input" id="description" type="text" name="description">
            </div>
            <div class="form-group">
                <label class="label" for="category">Category</label>
                <input class="input" id="category" type="text" name="category">
            </div>
            <button class="request-box" style="text-align: center;">Submit</button>
        </form>
    </div>
</div>