<form class="form" action="/spots" method="POST">
    <h2 class="title">Create a spot</h2>
    <div class="form-group">
        <label class="label" for="name">name</label>
        <input class="input" id="name" type="text" name="name" required="true" value="Montagne ardue">
    </div>
    <div class="form-group">
        <label class="label" for="ref">ref</label>
        <input class="input" id="ref" type="text" name="ref" required="true" value="357">
    </div>
    <div class="form-group">
        <label class="label" for="address">address</label>
        <input class="input" id="address" type="text" name="address" required="true" value="Taulignan">
    </div>
    <div class="form-group">
        <label class="label" for="latitude">latitude</label>
        <input class="input" id="latitude" type="number" name="latitude" required="true" value="47.6193757">
    </div>
    <div class="form-group">
        <label class="label" for="longitude">longitude</label>
        <input class="input" id="longitude" type="number" name="longitude" required="true" value="6.1529374">
    </div>
    <div class="form-group">
        <label class="label" for="image">image</label>
        <input class="input" id="image" type="url" name="image"
            value="https://media3.picsearch.com/is?QI5AlIsZ0Y9ewopLId2sEiVXrfCC3YAuKLD3jPC4KG4&height=192">
    </div>
    <div class="form-group">
        <label class="label" for="description">description</label>
        <input class="input" id="description" type="text" name="description"
            value="Un des meilleurs spots d'ecalade de la région, vous prendrez un grand plaisir à découvrir cet endroit!">
    </div>
    <div class="form-group">
        <label class="label" for="category">category</label>
        <input class="input" id="category" type="text" name="category">
    </div>

    <button class="btn">Submit</button>
</form>